* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #bcbdff;
}

/*ENCABEZADO GENERAL */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #211949;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*MENÚ HAMBURGUESA */
.menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
}

/*NOMBRE DE LA TIENDA */
.logo {
  font-size: 1.6rem;
  margin-left: 10px;
  flex-shrink: 0;
}

/*BARRA DE BÚSQUEDA */
.search-bar {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.search-bar input {
  width: 60%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  background-color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
}

/*BOTONES DE USUARIO */
.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions button {
  background-color: rgb(255, 255, 255);
  color: #3f64ad;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.user-actions button:hover {
  background-color: #ffdfde;
}

/*ADAPTACIÓN PARA MÓVILES */
@media (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-bar input {
    width: 70%;
  }
}

.recomendados {
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
}

.recomendados h2 {
  margin-bottom: 15px;
  font-size: 25px;
}

.card {
  width: 230px;
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.tag {
  background: red;
  color: #fff;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  margin-top: 6px;
}

.titulo {
  font-size: 15px;
  font-weight: 600;
  margin: 8px 0;
}

.precio {
  color: #e60000;
  font-size: 20px;
  margin: 5px 0;
}

.before {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
  margin-left: 5px;
}

.mini {
  font-size: 13px;
  color: #555;
}

.producto-container {
    display: flex;
    gap: 30px;
    font-family: Arial;
    padding: 20px;
}

.producto-imagen img {
    width: 350px;
    border-radius: 10px;
}

.miniaturas img {
    width: 60px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 5px;
}

.producto-info {
    width: 40%;
}

.tag {
    background: red;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.tag2 {
    background: #ddd;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 5px;
}

h1 {
    font-size: 22px;
    margin: 10px 0;
}

.sku {
    font-size: 13px;
    color: gray;
}

.cantidad-box {
    display: flex;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.cantidad-box button {
    width: 30px;
    border: none;
    background: #f2f2f2;
    cursor: pointer;
}

.cantidad-box input {
    width: 40px;
    text-align: center;
    border: none;
}

.disponible {
    color: green;
}

.producto-compra {
    width: 25%;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    background: #fafafa;
}

.precio {
    font-size: 30px;
    color: #e60000;
    font-weight: bold;
}

.old {
    text-decoration: line-through;
    color: gray;
    font-size: 16px;
}

.ahorro {
    color: #e60000;
    font-size: 14px;
}

.btn-comprar {
    width: 100%;
    background: #0042ff;
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-comprar:hover {
    background: #002fcc;
}
